/*Fonts*/
@font-face {
	font-family: Lumiera;
	src: url(fonts/lumiera/Lumiera.ttf);
}

@font-face {
	font-family: Muli;
	src: url(fonts/muli/Muli-Regular.ttf);
}

@font-face {
	font-family: 'Noto Sans';
	src: url(fonts/noto_sans/NotoSans-Regular.ttf);
	src: url(fonts/noto_sans/NotoSans-Italic.ttf);
}

/*remaining css*/

header a {
	font-family: Muli;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 12px;
	color: #5A6174;
}

header a:hover {
	color: #EA666C;
}

body {
	background: #F9F2EA;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#main-div {
	margin: auto;
	margin-left: 15%;
	margin-right: 15%;
}

.intro {
	font-family: Lumiera;
	font-style: normal;
	font-weight: normal;
	font-size: 80px;
	line-height: ;
	color: #3F3E46;
}

.intro-desc {
	font-family: Muli;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 30px;
	color: #3F3E46;
}

.project-image {
	width: 100%;
	height: auto;
	display: block;
}

.hvrbox-text a {
	font-family: Muli;
	font-style: normal;
	font-weight: 800;
	font-size: 28px;
	text-decoration: none;
	color: #FEFFFF;
}

.hvrbox-text a:hover {
	color: #EA666C;
}

.has-tags h4{
	font-family: Muli;
	font-style: normal;
	font-weight: 800;
	font-size: 25px;
	line-height: 30px;
	color: #3F3E46;
}

.has-tags p {
	font-family: Muli;
	font-style: normal;
	font-weight: normal;
	font-size: 19px;
	line-height: 25px;
	color: #3F3E46;
}

.has-tags span {
	background: #FEFFFF;
	border-radius: 30px;
	padding: 5px 15px;

	font-family: 'Noto Sans';
	font-style: italic;
	font-weight: normal;
	font-size: 16px;
	line-height: 27px;
	color: #5A6174;

	float: left;
}

footer {
	margin-top: 5%;
	padding-top: 4%;
	padding-bottom: 4%;
	padding-left: 18%;
	background-color: DarkSalmon;
	color: white;
	background: #5A6174;
}

footer p {
	font-family: Muli;
	font-style: normal;
	font-weight: normal;
	font-size: 21px;
	line-height: 25px;
	color: #FEFFFF;
}

footer a {
	font-size: 34px;
	color: #FEFFFF;
	text-decoration: none;
}

footer a:hover {
	color: #EA666C;
}

























.hvrbox,
.hvrbox * {
	box-sizing: border-box;
}
.hvrbox {
	position: relative;
	display: inline-block;
	overflow: hidden;
	max-width: 100%;
	height: auto;
}
.hvrbox img {
	max-width: 100%;
}
.hvrbox .hvrbox-layer_bottom {
	display: block;
}
.hvrbox .hvrbox-layer_top {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	color: #fff;
	padding: 15px;
	-moz-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}
.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
	opacity: 1;
}
.hvrbox .hvrbox-text {
	text-align: center;
	font-size: 18px;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.hvrbox .hvrbox-text_mobile {
	font-size: 15px;
	border-top: 1px solid rgb(179, 179, 179); /* for old browsers */
	border-top: 1px solid rgba(179, 179, 179, 0.7);
	margin-top: 5px;
	padding-top: 2px;
	display: none;
}
.hvrbox.active .hvrbox-text_mobile {
	display: block;
}